.advantages {

}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.advantages__text {
  line-height: 26px;
  color: #333333;
}

.advantages__list {

}

.reasons-list {

}

.reasons-list__item {
  background-color: #81b3d2;
}

.reasons-list__item:nth-child(3),
.reasons-list__item:nth-child(4),
.reasons-list__item:nth-child(5) {
  background-color: #efefef;
}

.reasons-list__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
}

.reasons-list__number {
  line-height: 26px;
  color: #ffffff;
}

.reasons-list__text {
  line-height: 26px;
  color: #ffffff;
}

.reasons-list__image {

}

.reasons-list__item:nth-child(3) .reasons-list__title,
.reasons-list__item:nth-child(4) .reasons-list__title,
.reasons-list__item:nth-child(5) .reasons-list__title,
.reasons-list__item:nth-child(3) .reasons-list__number,
.reasons-list__item:nth-child(4) .reasons-list__number,
.reasons-list__item:nth-child(5) .reasons-list__number,
.reasons-list__item:nth-child(3) .reasons-list__text,
.reasons-list__item:nth-child(4) .reasons-list__text,
.reasons-list__item:nth-child(5) .reasons-list__text {
  color: #333333;
}
