.container {
  outline: 1px solid red;
}

@media (min-width: $desktop-width) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 0 40px 0 #dbdbdb;
  }
}
