.feedback {

}

.feedback__section {

}

.feedback__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.feedback__item {
  line-height: 26px;
  color: #333333;
}

.feedback__fio {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.feedback__phone {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.feedback__email {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.feedback__impression {
}

.feedback__attractions {

}

.feedback__label {
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}

.feedback__text {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  padding: 22px;
}
