.main-nav {
  position: relative;
  width: 100%;
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;
}

.main-nav__toggle {
  position: absolute;

  display: block;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.main-nav__toggle--open {
  right: 20px;
  top: 240px;

  //top: 15px;
  //right: 20px;
  width: 23px;
  height: 22px;
}

.main-nav__toggle--open svg {
  fill: #81b3d2;
}

.main-nav__toggle--close {
  right: 5px;
  top: 5px;

  top: 17px;
  right: 20px;
  width: 22px;
  height: 22px;
}

.main-nav__toggle--close svg {
  fill: #ffffff;
}
@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
