.main-footer {
  line-height: 26px;
  background-color: #ffffff;
  opacity: 0.9;

  // временно
  height: 233px;
  outline: 1px solid red;
}

.main-footer__hashtag {

}

.main-footer__social {

}

.main-footer__copyright {

}
