.main-nav {
  position: relative;
  width: 100%;
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;
}

.main-nav__toggle {
  position: absolute;
}

.main-nav__toggle--open {
  right: 5px;
  top: 225px;
}

.main-nav__toggle--close {
  right: 5px;
  top: 5px;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
