.reasons-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons-list__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.reasons-list__number {
  line-height: 21px;
}

.reasons-list__text {
  line-height: 21px;
}

.reasons-list__image {

}

.reasons-list__item {
  background-color: #81b3d2;
  color: #ffffff;

  &--black-text{
    color: #333333;
  }

  &--gray-bg{
    background-color: #efefef;
  }
}
