.search-hotels {
  outline: 1px solid blue;
  // временно
  min-height: 320px;
}

.search-hotels__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}

.search-hotels__text {
  line-height: 24px;
  color: #333333;
}

.search-hotels__button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
}
