.site-list {
  list-style: none;
}

.site-list__item {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: #ffffff;
  background-color: #81b3d2;

  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
}

.site-list__item--active {

}

.site-list__item a {
  color: #ffffff;
}
