.subreasons-list {
  margin: 0;
  padding: 0;
  list-style: none;

  background-color: #ffffff;
  color: #000000;
}

.subreasons-list__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.subreasons-list__text {
  line-height: 21px;
  color: #333333;
}

.subreasons-list__item {
}
